<html>
<body bgcolor="yellow">
<form align="center">
    <button type="button"><a href="content.html" target=content><font color="black">Home Page</font></a></li></button>
    <br /><br />
    <button type="button"><a href="login.html" target=content><font color="black">Student Login</font></a></li></button>
    <br /><br />
    <button type="button"><a href="newAccount.html" target=content><font color="black">New Account</font></a></li></button>
    <br /><br />
    <button type="button"><a href="contact.html" target=content><font color="black">Contact Us</font></a></li></button>
    <br /><br />
    <button type="button"><a href="visit.html" target=content><font color="black">Visit LIST</font></a></li></button>
</form>
</body>
</html>