<html>
    <body><br><br><br>
        <script language="javascript">
            function validate()
            {
                
            }
        </script>
        <form name="myform" action="profile.html" onsubmit="return validate()" method="post">
            <div align="center">
                Enter your LIST Email ID: <input type="text" name="email"><br> <br>
                Enter your Password (min 8 characters): <input type="password" name="pwd"><br><br>
            </div>
            <br><br>
            <div align="center">
            <input type="submit" value="Submit">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" value="clear" >
            </div>
        </form>
    </body>
</html>